.btn {
    border: none;
    border-radius: 22px;
    padding: 6px 16px;
    color: black;
    background-color: #FFDB63;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 9px 33px;
    font-size: 20px;
    line-height: 1.19;
  }
}

.btn:hover,
.btn:focus {
    color: #FFE9A1;
    background-color: #884619;
}