@media screen and (max-width: 767px) {
  .search  {
    padding-left: 40px;
  }
}

.searchIcon {
    font-size: 17px;
    position: absolute;
    padding-left: 12px;
    padding-top: 8px;
    color: #858585;
}

.input {
    outline: none;
    width: 130px;
    padding: 12px;
    padding-left: 32px;
    border: 2px solid #f2f3f5;
    background-color: #F5F2F2;
    border-radius: 22px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .input  {
    width: 160px;
  }
}

.input:focus {
    border-color: #68a1ec;
}