.section {
    padding-top: 89px;
    padding-bottom: 89px;
}

.container {
    margin: 0 auto;
    padding-left: 77px;
    padding-right: 77px;
    width: 1286px;
}

.title {
    margin-bottom: 58px;

    color: black;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
}
