.section {
    padding-top: 45px;
    padding-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    background-color: #F5F2F2;
    border-radius: 22px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 94px;
    width: 1012px;
  }
}

.title {
    margin-bottom: 22px;
    color: #884619;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 1.17;
  }
}

.text {
    margin-bottom: 22px;
    color: black;
    font-size: 20px;
    line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 30px;
    line-height: 1.19;
  }
}

.icon {
  margin-right: 5px;
}

.btn {
    display: flex;
    border: none;
    border-radius: 22px;
    padding: 6px 16px;
    color: black;
    background-color: #FFDB63;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 9px 33px;
    font-size: 20px;
    line-height: 1.19;
  }
}

.btn:hover,
.btn:focus {
    color: #FFE9A1;
    background-color: #884619;
}