.filterButtons {
    margin-top: 10px;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
@media screen and (min-width: 1200px) {
  .filterButtons {
    align-items: flex-start;
  }
}

.item,
.active {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 32px;
    background-color: #F5F2F2;
    color: black;
    font-size: 16px;
    line-height: 1.17;
    cursor: pointer;
}

.refreshBtn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 32px;
    background-color: #FFDB63;
    color: black;
    font-size: 16px;
    line-height: 1.17;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .item,
  .active, 
  .refreshBtn {
    font-size: 20px;
    line-height: 1.19;
  }
}

.active {
    background-color: #FFE9A1;
    color: #884619;
    font-weight: 600;
}

.refreshBtn:hover,
.refreshBtn:focus {
    color: #FFE9A1;
    background-color: #884619;
}

::-webkit-scrollbar {
    display: none;
}
