.header {
    padding-top: 34px;
    padding-bottom: 34px;
}

.header h1 {
    font-size: 26px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding-left: 77px;
    padding-right: 77px;
    width: 1286px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: black;
    font-weight: bold;
    font-size: 26px;
}

.navigation ul {
    display: flex;
}

.navigation li + li {
    margin-left: 46px;
}

.input {
    width: 258px;
    padding: 12px;
    border: 1px solid #f2f3f5;
    background-color: #F5F2F2;
    border-radius: 22px;
}