.scrollTopBtn {
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 40px;
    z-index: 1;
}
@media screen and (min-width: 1200px) {
  .scrollTopBtn {
    bottom: 80px;
    right: 60px;
    font-size: 50px;
  }
}

.scrollTopIcon {
    color: #884619;
}

.scrollTopIcon:hover,
.scrollTopIcon:focus {
    fill: #68a1ec;
    transition: 0.3s;
}

.show {
    opacity: 1;
    transition: opacity 0.3s;
}

.hide {
    opacity: 0;
}
