.section {
    padding-top: 33px;
    padding-bottom: 107px;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 126px;
    padding-right: 126px;
    width: 1188px;
  }
}

.title {
    margin-bottom: 40px;
    color: black;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.19;
    text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 65px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.17;
  }
}

.btn {
    border: none;
    border-radius: 22px;
    padding: 9px 33px;
    color: black;
    background-color: #FFDB63;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.19;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    color: #FFE9A1;
    background-color: #884619;
}

.filterButtons {
    margin-bottom: 32px;
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.item,
.active {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 32px;
    background-color: #F5F2F2;
    color: black;
    font-size: 20px;
    line-height: 1.19;
    cursor: pointer;
}

.active {
    background-color: #FFE9A1;
    color: #884619;
    font-weight: 600;
}

::-webkit-scrollbar {
    display: none;
}
